<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<style>
		body
		{
			font-size: 16px;
			font-family: 'Poppins', serif;
			width: 100%;
			height: 100%;
			margin: 0;
			color: #333;
		}
		
		img
		{
			width: 100%;
		}
		
		ul
		{
			margin: 0;
			padding: 0;
		}
		
		.margin-tb-30
		{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.intro-section
		{
			padding-top: 200px;
			position: relative;
			background-size: cover; 
			z-index: 1;
			background-image: url({{ bckgrd_url }});
		}

		.intro
		{
			padding: 0 20px;
			margin-top: 100px;
			text-align: center;
			background: #fff;
		}

		.intro .profile-img
		{
			height: 200px;
			width: 200px;
			border-radius: 100px;
			margin: 0 auto; 
			overflow: hidden;
			position: relative;
			top: -100px;
			margin-bottom: -70px;
		}

		.intro .information > li
		{
			display: block;
			margin: 0 0;
		}

		.intro .social-icons > li > a
		{
			height: 35px;
			line-height: 35px;
			width: 35px;
			border-radius: 20px; 
			overflow: hidden;
			z-index: 1;
			position: relative;
			margin: 0 5px 5px;
			background: #887392;
			color: #fff;
		}
		
		.intro-section:before
		{
			content:'';
			z-index: -1;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0; 
			right: 0;
			background: rgba(0,0,0, .2);
		}
	
		.intro-section:after
		{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 150px;
			z-index: -1;
			background: #fff;
		}
		
	</style>
</head>
<body>
	<div class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Who am I?</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Who's in front of me?</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Who's behind me?</a>
					  </li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="intro">
						<div class="profile-img"><img src="{{ img_url }}" alt=""></div>
						<h1>Hi! I am {{ name }}</h1>
						<article>I am {{ age }} years old</article>
						<h7> & </h7>
						<article>{{ desc }}</article>
						<ul class="information margin-tb-30">
							<li><b>UNIVERSITY : </b>{{ univ }}</li>
							<li><b>BORN : </b>{{ birth }}</li>
							<li><b>NPM : </b>{{ npm }}</li>
							<li><b>HOBBY : </b>{{ hobby }}</li>
						</ul>
					</div>

						</div>
					  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						<div class="intro">
						<div class="profile-img"><img src="{{ tmn1_img_url }}" alt=""></div>
						<h1>Hi! I am {{ tmn1_name }}</h1>
						<article>I am {{ tmn1_age }} years old</article>
						<h7> & </h7>
						<article>{{ tmn1_desc }}</article>
						<ul class="information margin-tb-30">
							<li><b>UNIVERSITY : </b>{{ tmn1_univ }}</li>
							<li><b>BORN : </b>{{ tmn1_birth }}</li>
							<li><b>NPM : </b>{{ tmn1_npm }}</li>
							<li><b>HOBBY : </b>{{ tmn1_hobby }}</li>
						</ul>
					</div>

					  </div>
					  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
					  <div class="intro">
						<div class="profile-img"><img src="{{ tmn2_img_url }}" alt=""></div>
						<h1>Hi! I am {{ tmn2_name }}</h1>
						<article>I am {{ tmn2_age }} years old</article>
						<h7> & </h7>
						<article>{{ tmn2_desc }}</article>
						<ul class="information margin-tb-30">
							<li><b>UNIVERSITY : </b>{{ tmn2_univ }}</li>
							<li><b>BORN : </b>{{ tmn2_birth }}</li>
							<li><b>NPM : </b>{{ tmn2_npm }}</li>
							<li><b>HOBBY : </b>{{ tmn2_hobby }}</li>
						</ul>
					</div>

					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>
